<div ng-controller="wishesCtrl">
  <h1>WISHES</h1>

  <table class="wishes-table" >
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Points</th>
      <th></th>
    </tr>

    <tr ng-repeat = "wish in wishes">
      <td>{{wish.name}}</td>
      <td>{{wish.wishStatus}}</td>
      <td>{{wish.points}}</td>
      <td>
        <input type="number" ng-if="wish.wishStatus==='ADDED'" ng-model='wish.points' ng-change="addPoints(wish)" placeholder="estimate"></input>
      </td>
    </tr>
  </table>


</div>

