<h1 ng-controller="kidsCtrl">
  <a style="display:block; width: 100%; margin-bottom:5px; background:#ffe87c"> Add kid</a><br>
  <a style="display:block; width: 100%; margin-bottom:5px" href="#/tasks.html" ng-click="currentKid='Antek'">Antek</a><br>
  <a style="display:block; width: 100%; margin-bottom:5px" href="#/tasks.html" ng-click="currentKid='Marysia'">Marysia</a><br>
  <a style="display:block; width: 100%; margin-bottom:5px" href="#/tasks.html" ng-click="currentKid='Romek'">Romek</a><br>
</h1>
